{% extends "profesor/layout.html" %}
{% block content %}
<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <div class="triangulo"></div>
        <h1 class="page-header"> Visualizar Trabajos</h1>
        <br>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--End Page Header -->
    <div class="animate__animated animate__backInLeft">
        <!-- /. ROW  -->
        <table class="table table-bordered table-hover" id="myTable">
            <thead>
                <tr>
                    <th hidden>Id registro</th>
                    <th >Cedula</th>
                    <th>Nombre</th>
                    <th hidden>Apellido</th>
                    <th>Paralelo</th>
                    <th>Año lectivo</th>
                    <th hidden >Trabajo</th>
                    <th hidden>Materias</th>
                    <th hidden>Bimestre</th>
                    <th hidden>Nota</th>
                    <th>Archivo</th>
                </tr>
            </thead>
            <tbody>
                {% for tareas in tareas %}
                <tr>
                    <td hidden>{{ tareas.id_resultado }}</td>
                    <td >{{ tareas.cedula }}</td>
                    <td>{{ tareas.nombre }}</td>
                    <td hidden>{{ tareas.apellido }}</td>
                    <td>{{ tareas.paralelo }}</td>
                    <td>{{ tareas.n_año }}</td>
                    <td hidden>{{ tareas.deber }}</td>
                    <td hidden>{{ tareas.materias }}</td>
                    <td hidden>{{ tareas.bimestre }}</td>
                    <td hidden>{{ tareas.nota }}</td>
                    <td>
                        <a href="{{ url_for('profesores.p_cali', id=tareas.cedula) }}" class=" btn btn-primary"
                            style="background-color: #202020;color: white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-text-fill" viewBox="0 0 16 16">
                                <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1"/>
                            </svg>
                        </a>
                    </td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<script>

$(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "/static/assets/js/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
    });

    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('click', () => {
            input.classList.add('animate__jello');
            input.addEventListener('animationend', () => {
                input.classList.remove('animate__jello');
            }, { once: true });
        });
    });
</script>

{% endblock %}