{% extends "profesor/layout.html" %}
{% block content %}
<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <div class="triangulo"></div>
        <h1 class="page-header"> Visualizar Examen</h1>
        <br>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--End Page Header -->
    <div class="animate__animated animate__backInLeft">
        <!-- /. ROW  -->
        <table class="table table-bordered table-hover" id="myTable">
            <thead>
                <tr>
                    <th hidden>Id registro</th>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th hidden>Apellido</th>
                    <th>Paralelo</th>
                    <th>Año lectivo</th>
                    <th hidden>Fecha </th>
                    <th hidden>Materias</th>
                    <th hidden>Bimestre</th>
                    <th hidden>Nota</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for resultado in resultado %}
                <tr>
                    <td hidden>{{ resultado.id_resultado }}</td>
                    <td>{{ resultado.cedula }}</td>
                    <td>{{ resultado.nombre }}</td>
                    <td hidden>{{ resultado.apellido }}</td>
                    <td>{{ resultado.paralelo }}</td>
                    <td>{{ resultado.n_año }}</td>
                    <td hidden>{{ resultado.fecha_creacion }}</td>
                    <td hidden>{{ resultado.materias }}</td>
                    <td hidden>{{ resultado.bimestre }}</td>
                    <td hidden>{{ resultado.nota }}</td>
                    <td>
                        <a href="{{ url_for('profesores.p_exam', id=resultado.cedula) }}" class=" btn btn-primary"
                            style="background-color: #202020;color: white;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-text-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M5 4h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m-.5 2.5A.5.5 0 0 1 5 6h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5M5 8h6a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1m0 2h3a.5.5 0 0 1 0 1H5a.5.5 0 0 1 0-1" />
                            </svg>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="editModal" title="Editar Calificaciones">
    <form id="editForm" action="" method="post">
        <div class="form-group">
            <div class="col" hidden>
                <label for="">Id resultado</label>
                <input type="text" id="id_resultado" name="id_resultado" class="form-control  ">
            </div>
            <div class="col">
                <label for="">Cedula</label>
                <input type="text" id="cedula" name="cedula" class="form-control  animate__animated" readonly>
            </div>
            <div class="col">
                <label for="usuario">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control entry animate__animated" readonly>
            </div>
            <div class="col">
                <label for="rol">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control  animate__animated" readonly>
            </div>
            <div class="col" hidden>
                <label for="rol">Paralelo</label>
                <input type="text" id="paralelo" name="paralelo" class="form-control  animate__animated" readonly>
            </div>

            <div class="col" hidden>
                <label for="rol">Año lectivo</label>
                <input type="text" id="n_año" name="n_año" class="form-control  animate__animated">
            </div>

            <div class="col" hidden>
                <label for="rol">Fecha de registro</label>
                <input type="date" id="fecha_creacion" name="fecha_creacion" class="form-control  animate__animated">
            </div>
            <br>
            <div class="col">
                <label for="rol">Materias</label>
                <input type="text" id="materias" name="materias" class="form-control  animate__animated" readonly>

            </div>
            <div class="col" hidden>
                <label for="rol">Bimestre</label>
                <input type="text" id="bimestre" name="bimestre" class="form-control  animate__animated" readonly>

            </div>
            <br>
            <div class="col">
                <label for="rol">Notas</label>

                <input name="nota" id="nota" type="number" class="form-control animate__animated">
                </input>
            </div>
        </div>
    </form>
</div>

<script>
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('click', () => {
            input.classList.add('animate__jello');
            input.addEventListener('animationend', () => {
                input.classList.remove('animate__jello');
            }, { once: true });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "/static/assets/js/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
        //Cambio de english a spanish
        // Funcionalidad de edición
        table.on('click', '.editar', function () {
            var row = $(this).closest('tr');
            var data = table.row(row).data();
            // Aquí puedes abrir el modal y llenar los campos del formulario con los datos del usuario
            // Por ejemplo:
            $('#id_resultado').val(data[0]);
            $('#cedula').val(data[1]);
            $('#nombre').val(data[2]);
            $('#apellido').val(data[3]);
            $('#paralelo').val(data[4]);
            $('#n_año').val(data[5]);
            $('#fecha_creacion').val(data[6]);
            $('#materias').val(data[7]);
            $('#bimestre').val(data[8]);
            $('#nota').val(data[9]);
            $('#editForm').attr('action', '/edit_proexa/' + data[0]); // Recuerda que en esta parte el 0 es la posicion selectora del codigo que estas usando en este caso es 0 ya que usas la cedula
            $('#editModal').dialog('open');
        });
        // Inicializar el modal
        $('#editModal').dialog({
            autoOpen: false,
            modal: true,
            buttons: [
                {
                    text: 'Guardar',
                    click: function () {
                        $('#editForm').submit();
                    },
                    // Agregar una clase al botón
                    class: 'guardar'
                },
                {
                    text: 'Cancelar',
                    click: function () {
                        $(this).dialog('close');
                    },
                    // Agregar una clase al botón
                    class: 'cancelar'
                }
            ]
        });
    });
</script>
{% endblock %}