{% extends "admin/layout.html" %}
{% block content %}
<style>
    .col-lg-12 {
        display: flex;
        align-items: center;
    }

    .triangulo {
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 40px solid green;
        animation: girar 2s infinite linear;
    }

    @keyframes girar {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
</style>
<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <div class="triangulo"></div>
        <h1 class="page-header"> Ingresar Materias</h1>
        <br>
    </div>
    <!--End Page Header -->
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <form action="/admin/in_materia" method="post">
                        <div class="form-group has-success">
                            <label class="control-label" for="inputSuccess">Nombre de la materia</label>
                            <input type="text" name="n_materia" class="form-control" id="inputSuccess" required>
                        </div>
                        <div class="form-group has-success">
                            <label class="control-label" for="inputSuccess">Fecha de ingresado de los datos</label>
                            <input type="date" name="fecha_creacion" class="form-control" id="inputSuccess" required>
                        </div>
                        <button type="submit" class="btn btn-success">Enviar</button>
                    </form>
                    <br>
                    {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}