{% extends "admin/layout.html" %}
{% block content %}
<div class="row">
    <!-- Page Header -->
    <div class="col-lg-12">
        <div class="triangulo"></div>
        <h1 class="page-header"> Visualizar Calificaciones</h1>
        <br>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category }}">
        {{ message }}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!--End Page Header -->
    <div class="animate__animated animate__backInLeft">
        <!-- /. ROW  -->
        <table class="table table-bordered table-hover" id="myTable">
            <thead>
                <tr>
                    <th hidden>Id registro</th>
                    <th >Cedula</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Paralelo</th>
                    <th>Año lectivo</th>
                    <th hidden>Fecha </th>
                    <th>Materias</th>
                    <th>Bimestre</th>
                    <th>Nota</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for resultado in resultado %}
                <tr>
                    <td hidden>{{ resultado.id_resultado }}</td>
                    <td >{{ resultado.cedula }}</td>
                    <td>{{ resultado.nombre }}</td>
                    <td>{{ resultado.apellido }}</td>
                    <td>{{ resultado.paralelo }}</td>
                    <td>{{ resultado.n_año }}</td>
                    <td hidden>{{ resultado.fecha_creacion }}</td>
                    <td>{{ resultado.materias }}</td>
                    <td>{{ resultado.bimestre }}</td>
                    <td>{{ resultado.nota }}</td>
                    <td>
                        
                        <a href="{{url_for('resultado.delete_re', elire = resultado.id_resultado)}}"
                            class="eliminar btn btn-danger" style="background-color: #C9302C;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash-fill" viewBox="0 0 16 16">
                                <path
                                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                            </svg>
                        </a>
                    </td>
                </tr>
                </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div id="editModal" title="Editar Calificaciones">
    <form id="editForm" action="" method="post">
        <div class="form-group">
            <div class="col" hidden>
                <label for="">Id resultado</label>
                <input type="text" id="id_resultado" name="id_resultado" class="form-control  ">
            </div>
            <div class="col" >
                <label for="">Cedula</label>
                <input type="text" id="cedula" name="cedula" class="form-control  animate__animated" readonly>
            </div>
            <div class="col">
                <label for="usuario">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control entry animate__animated" readonly>
            </div>
            <div class="col">
                <label for="rol">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control  animate__animated" readonly>
            </div>
            <div class="col" hidden>
                <label for="rol">Paralelo</label>
                <input type="text" id="paralelo" name="paralelo" class="form-control  animate__animated" readonly>
            </div>
            
            <div class="col" hidden>
                <label for="rol">Año lectivo</label>
                <input type="text" id="n_año" name="n_año" class="form-control  animate__animated">
            </div>
            
            <div class="col" hidden>
                <label for="rol">Fecha de registro</label>
                <input type="date" id="fecha_creacion" name="fecha_creacion" class="form-control  animate__animated">
            </div>
            <br>
            <div class="col"  >
                <label for="rol">Materias</label>
                <input type="text" id="materias" name="materias" class="form-control  animate__animated" readonly>
                
            </div>
            <div class="col" hidden >
                <label for="rol">Bimestre</label>
                <input type="text" id="bimestre" name="bimestre" class="form-control  animate__animated" readonly>
                
            </div>
            <br>
            <div class="col">
                <label for="rol">Notas</label>

                <input name="nota" id="nota" class="form-control animate__animated" >
                    
                </input>
            </div>
        </div>
    </form>
</div>

<script>
    document.querySelectorAll('.form-control').forEach(input => {
        input.addEventListener('click', () => {
            input.classList.add('animate__jello');
            input.addEventListener('animationend', () => {
                input.classList.remove('animate__jello');
            }, { once: true });
        });
    });
</script>
<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            "language": {
                "url": "/static/assets/js/Spanish.json"
            }
        });
        var table = $('#myTable').DataTable();
        //Cambio de english a spanish
        // Funcionalidad de edición
        table.on('click', '.editar', function () {
            var row = $(this).closest('tr');
            var data = table.row(row).data();
            // Aquí puedes abrir el modal y llenar los campos del formulario con los datos del usuario
            // Por ejemplo:
            $('#id_resultado').val(data[0]);
            $('#cedula').val(data[1]);
            $('#nombre').val(data[2]);
            $('#apellido').val(data[3]);
            $('#paralelo').val(data[4]);
            $('#n_año').val(data[5]);
            $('#fecha_creacion').val(data[6]);
            $('#materias').val(data[7]);
            $('#bimestre').val(data[8]);
            $('#nota').val(data[9]);
            $('#editForm').attr('action', '/edit_re/' + data[1]); // Recuerda que en esta parte el 0 es la posicion selectora del codigo que estas usando en este caso es 0 ya que usas la cedula
            $('#editModal').dialog('open');
        });
        // Inicializar el modal
        $('#editModal').dialog({
            autoOpen: false,
            modal: true,
            buttons: [
                {
                    text: 'Guardar',
                    click: function () {
                        $('#editForm').submit();
                    },
                    // Agregar una clase al botón
                    class: 'guardar'
                },
                {
                    text: 'Cancelar',
                    click: function () {
                        $(this).dialog('close');
                    },
                    // Agregar una clase al botón
                    class: 'cancelar'
                }
            ]
        });
    });
    $(".eliminar").click(function (event) {
        event.preventDefault();
        var url = $(this).attr('href'); // Guarda la URL del enlace
        Swal.fire({
            title: '¿Estás seguro?',
            text: "¿Estás seguro de que quieres eliminar?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Sí, eliminar!',
            cancelButtonText: 'No, cancelar!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url; // Navega a la URL del enlace
            }
        });
    });
</script>
{% endblock %}